@import "../../variables";

.userInformationBox {
  margin: 15px 0;
  .itemInformation {
    display: flex;
    flex-direction: column;
    .nameOfItem {
      margin: 0 0 10px 0;
      @extend %body-1-medium;
    }
    .dateOfBirthFields {
      display: flex;
      flex-direction: row;
      .controlledFieldBox {
        margin: 0 10px 0 0;
      }
      .controlledFieldBox:last-child {
        margin: 0;
      }
    }
  }
}
