@import "../../variables";

.controlledFieldBox {
  width: 100%;
  .errorIcon,
  .errorMessage {
    color: map-get($theme-colors, "red");
  }
  .errorMessage {
    @extend %regular-text;
    margin-bottom: 10px;
  }
  .controlledField,
  .passwordField {
    width: 100%;
    height: 54px;
    background-color: map-get($theme-colors, "white");
    border-radius: 30px;
    .MuiFormLabel-root {
      margin-top: -3px;
      @extend %regular-text;
      color: map-get($theme-colors, "gray-2");
    }
    .MuiFormLabel-root.MuiFormLabel-filled {
      @extend %regular-text;
      margin-top: 0;
    }
    .MuiFormLabel-root.MuiFormLabel-filled.Mui-focused,
    .MuiFormLabel-root.Mui-focused {
      color: map-get($theme-colors, "main-blue");
      @extend %regular-text;
    }
    .MuiInputBase-root.MuiInputBase-formControl {
      height: 54px;
      border-radius: 30px;
      @extend %regular-text;
      input {
        height: 54px;
        padding: 0 20px;
        color: map-get($theme-colors, "black");
      }
      fieldset {
        border: solid 1px map-get($theme-colors, "gray-2");
      }
    }
    .MuiInputBase-root.MuiInputBase-formControl.Mui-error {
      border: none;
      fieldset {
        border: solid 2px map-get($theme-colors, "red");
      }
    }
    .MuiInputBase-root.MuiInputBase-formControl.Mui-focused {
      border: none;
      fieldset {
        border: solid 2px map-get($theme-colors, "main-blue");
      }
    }
  }
}

.searchFieldBox {
  width: 100%;
  margin: 0 0 20px 0;
  .searchField {
    width: 100%;
    height: 54px;
    background-color: map-get($theme-colors, "gray");
    border-radius: 30px;
    .MuiInputBase-root.MuiInputBase-formControl {
      height: 54px;
      border-radius: 30px;
      @extend %regular-text;
      input {
        height: 54px;
        padding: 0 20px 0 0;
        color: map-get($theme-colors, "black");
      }
      fieldset {
        border: solid 1px map-get($theme-colors, "gray");
      }
      .MuiInputAdornment-root {
        svg {
          fill: map-get($theme-colors, "gray-3");
        }
      }
    }
    .MuiInputBase-root.MuiInputBase-formControl.Mui-focused {
      border: none;
      fieldset {
        border: solid 2px map-get($theme-colors, "main-blue");
      }
    }
  }
}
