@import "../../variables";

.menuBox {
  display: flex;
  flex-direction: column;
  max-width: 171px;
  width: 100%;
  margin: 0 40px 0 0;
  .nav-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 44px;
    border-radius: 10px;
    text-decoration: none;
    color: map-get($theme-colors, "gray-3");
    margin: 0 0 15px 0;
    padding: 0 15px;
    svg {
      margin: 0 10px 0 0;
    }
  }
  .nav-link.active {
    color: map-get($theme-colors, "white");
    background-color: map-get($theme-colors, "main-blue");
  }
}
