@import "../../variables";

.customErrorContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .contentCustomError {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 580px;
    img {
      max-width: 450px;
      max-height: 310px;
    }
    .title {
      @extend %title;
      margin: 0 0 15px 0;
      color: map-get($theme-colors, "main-blue");
      text-align: center;
    }
    .text {
      @extend %body-1-regular;
      margin: 0 0 15px 0;
      text-align: center;
      color: map-get($theme-colors, "gray-3");
    }
    .navigationButton {
      @extend %btn;
      @extend %button-1;
      width: 100%;
      max-width: 430px;
    }
  }
}
