@import "../../variables";

.emailFormBox,
.passwordFormBox {
  max-width: 430px;
  width: 100%;
  .title {
    margin: 0 0 15px 0;
    text-align: center;
    @extend %title;
  }
  .label {
    margin: 0 0 15px 0;
    text-align: center;
    @extend %body-2-regular;
    color: map-get($theme-colors, "gray-3");
  }
  .submitButton {
    @extend %btn;
    @extend %button-1;
    width: 100%;
    margin: 20px 0 0 0;
  }
}
