@import "../../variables";

.modalCancelLessons {
  display: flex;
  align-items: center;
  justify-content: center;
  .contentCancelLessons {
    background-color: map-get($theme-colors, "white");
    padding: 10px 10px 30px 10px;
    max-width: 500px;
    width: 100%;
    border-radius: 15px;
    .closeButtonBox {
      display: flex;
      justify-content: flex-end;
      button {
        height: 24px;
        width: 24px;
        min-width: 24px;
        color: map-get($theme-colors, "black");
      }
    }
    .mainContentBox {
      padding: 0 35px;
      .titleModal,
      .reasonModal {
        margin: 0 0 10px 0;
        text-align: center;
      }
      .titleModal {
        @extend %h1;
      }
      .reasonModal {
        @extend %body-2-regular;
      }
      .fieldReason {
        all: unset;
        width: calc(100% - 20px);
        border-radius: 5px;
        padding: 10px;
        height: 150px;
        @extend %body-2-regular;
        border: solid 1px map-get($theme-colors, "gray-1");
        &::placeholder {
          color: map-get($theme-colors, "gray-1");
        }
        &:focus-visible {
          border: solid 2px map-get($theme-colors, "main-blue");
        }
      }
      .errorMessage {
        margin: 0;
        @extend %body-2-regular;
        color: map-get($theme-colors, "red");
      }
      .controlsModalBox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 30px 0 0 0;
        button {
          text-transform: none;
          @extend %body-2-regular;
          border-radius: 100px;
          padding: 10px 20px;
        }
        .cancelButton {
          @extend %button-1;
          width: 100%;
        }
      }
    }
  }
}
