@import "../../variables";

.settingPasswordBox {
  max-width: 430px;
  width: 100%;
  .fieldsLabel {
    @extend %body-1-medium;
    color: map-get($theme-colors, "black");
    margin: 0 0 10px 0;
  }
  .fieldsLabel.errLabel {
    color: map-get($theme-colors, "red");
  }
  .submitPasswordButton {
    @extend %btn;
    @extend %button-1;
    width: 100%;
    margin: 10px 0 0 0;
  }
}
