@import "./variables";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.notificationToast {
  width: 450px;
  .toastBody {
    width: 100%;
    min-height: 48px;
    box-shadow: map-deep-get($theme-colors, "box-shadow", "shadow");
    border-radius: 0;
    position: relative;
    padding: 5px 10px;
    .Toastify__progress-bar--wrp {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 6px;
      height: 110%;
      border-radius: 0;
    }
    > div {
      /*  @extend %text-main; */
    }
    .toastProgress {
      height: 100%;
      width: 6px;
      transform: none !important;
      opacity: 1 !important;
    }
  }
}
