@import "../../variables";

.controlsPaymentsBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  .typesBox {
    margin: 0 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    button {
      text-transform: none;
    }
    .typeButton {
      padding: 5px 15px;
      margin: 0 10px 0 0;
      min-width: 28px;
      color: map-get($theme-colors, "gray-3");
      @extend %medium-text;
      border-radius: 20px;
    }
    .typeButton.activeButton {
      color: map-get($theme-colors, "main-blue");
      background-color: map-get($theme-colors, "light-blue");
      @extend %h3;
    }
    .createAdminButton {
      padding: 0;
      color: map-get($theme-colors, "main-blue");
      @extend %h3;
    }
  }
}
